*{
    direction: rtl;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.forms{
   margin: auto;
   width:100%;
}

nav.navbar.navbar-custom {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-radius: 0px;
	color: red;
}

.login{
    border-left: 3px solid;
    border-left-color: white;
    width: 49%;
    margin: 0 auto;
    background: transparent;
    float: right;
    padding: 0px;
}

body {
	background: url("https://www.tokkoro.com/picsup/3065878-blade_board_chopping-board_fresh_hardwood_herb_herbal_ingredient_kitchenware_knife_organic_plant_vegetable_wood_wooden.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.baseForm {
	width: 49%;
	margin: 0 auto;
	background: transparent;
	float: right;
	padding: 0px;
}

p{
    font-size: 30px;
    color: darkred;
}
  
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
  /* Set a style for all buttons */
  button {
    background-color: darkred;
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    width: 30%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    size: 30%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 0px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
.newForm {
	width: 100%;
	background: transparent;
	padding: 0px;
}

.NewLogin {
	width: 100%;
	background: transparent;
	padding: 0px;
}

button#home.btn.btn-danger {
	width: 110px;
	height: 40px;
	position: absolute;
	right: 5px;
	top: 5px;
}
