.font_size{
    font-size: 15px;
    text-align: right;
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
}
#recipe-img{
    width: 286px;
    height: 180px;
}
a{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'M PLUS 1p', sans-serif;
}
