nav.navbar.navbar-custom{
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-radius: 0px;
    color: red;
}
.navbar-custom {
    background-image: url(https://previews.123rf.com/images/phonlamaiphoto/phonlamaiphoto1611/phonlamaiphoto161101767/65648097-wooden-background-or-timber-wood-background.jpg);
}
table{
    border: 0px;
}
#upperMenu{
	background-image: url(https://previews.123rf.com/images/phonlamaiphoto/phonlamaiphoto1611/phonlamaiphoto161101767/65648097-wooden-background-or-timber-wood-background.jpg);
    height: 50px;
    width: 100%;
}
.buttonText{
    font-size: 16px;
}
#menuButtons{
    margin-left: auto;
    margin-right: 20px;
}

/* The Modal (background) */
#recipe-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
#recipe-modal-content {
	background-color: #fefefe;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #888;
	position: relative;
	display: table;
	width: 240px;
}

  /* The Close Button */
#close-recipe-modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 10px;
    float: right;
}
  
#close-recipe-modal:hover,
#close-recipe-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#recipe-image {
	width: 240px;
	height: 200px;
	margin: 10px;
}

#recipe-title{
    text-align: center;
    font-size: 15px;
    background-color: 	#F0E68C;
    border-radius: 15%;
    font-weight: bold;   
}

#recipe-ingrediants {
	direction: rtl;
	text-align: right;
	font-size: 14px;
	overflow-y: scroll;
	max-height: 120px;
	margin-top: 10px;
}

.amount {
	width: 25%;
	text-align: center;
}

.ingredient-name {
	width: 75%;
}

.ingredient-row {
	display: flex;
}

#recipe-preparation-time {
	text-align: center;
	font-size: 14px;
	margin: 0 auto;
}

#time{
    display: inline-block;
}

#recipe-link{
    text-align: center;
    font-size: 14px;
    background-color: 	#F0E68C;
    color: black;
    margin: 0 auto;
    display: table-row;
}

#recipe-num-of-dishes{
    text-align: center;
    font-size: 14px;
    display: inline-block;
    margin: 0 auto;
    display: table;
}

#dishes{
    display: inline-block;
    direction: rtl;
}

#numOfDis{
    display: inline-block;
}

#icondis{
    margin-left: 3px;
}

#plus-minus{
    border: 1px solid black;
    border-radius: 10%;
    display: inline-block;
}

#waiting-img-wrapper {
	margin: auto;
	width: 150px;
	padding: 10px;
}

#waiting-img {
	height: 150px;
	margin: auto;
	width: 100%;
}

#sorted-title-wrapper {
	width: 230px;
	padding: 10px;
	margin: auto;
	font-size: 15px;
}
