nav.navbar.navbar-custom{
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-radius: 0px;
    color: red;
}
.navbar-custom {
    background-image: url(https://previews.123rf.com/images/phonlamaiphoto/phonlamaiphoto1611/phonlamaiphoto161101767/65648097-wooden-background-or-timber-wood-background.jpg);
}
table{
    border: 0px;
}
#upperMenu{
	background-image: url(https://previews.123rf.com/images/phonlamaiphoto/phonlamaiphoto1611/phonlamaiphoto161101767/65648097-wooden-background-or-timber-wood-background.jpg);
    height: 50px;
    width: 100%;
}
.buttonText{
    font-size: 16px;
}
#menuButtons{
    margin-left: auto;
    margin-right: 20px;
}






